#!/usr/bin/env python
PACKAGE = 'docking'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("world_frame",    str_t,    0, "Name of world frame",  "world")
gen.add("robot_frame",    str_t,    0, "Name of robot frame",  "base_link")
gen.add("dock_frame",    str_t,    0, "Name of dock frame",  "dock_truth")
gen.add("path_steps", int_t, 0, "Steps in pose path", 20, 1, 100)
gen.add("time_step", double_t, 0, "Time per step in pose path", 0.1, 0.1, 1)
gen.add("v", double_t, 0, "Linear Velocity", 0.15 , 0, 1)
gen.add("omega_max", double_t, 0, "Max Rotational Velocity", 1.0, 0, 2)
gen.add("k1", double_t, 0, "Rate of Change of Theta to R", 3, 0,   20)
gen.add("k2", double_t, 0, "Rate to Converge to Slow Subsystem", 2,  0, 20)
gen.add("curvature_max", double_t, 0, "Max Curvature ", 2,  0, 20)
gen.add("beta", double_t, 0, "LinVel Gain Inversely Proportional to Curvature", 0.2,  0, 1)
gen.add("lambda", double_t, 0, "LinVel Gain Exponentially Inversely Proportional to Curvature", 2,  0, 5)

exit(gen.generate(PACKAGE, "docking", "PoseController"))
