<?xml version="1.0"?>
<launch>

<include file="$(find docking)/launch/laserscan_to_pointcloud.launch"/>


<!--<env name="ROSCONSOLE_CONFIG_FILE" value="$(find docking)/config/custom_rosconsole.conf"/>-->
				<param name="dock_filepath" value="$(find docking)/pcd/turtledock_truth_back_origin.pcd"/>

    <!-- run laserscan_to_pointcloud node -->
	<node pkg="docking" type="detection_node" name="detection_node" output="screen" respawn="false" clear_params="true" >
		<!-- Arguments to allow changing common parameters from the command line or when including this file from other launch files. -->
<!--                <param name="dock_filepath" value="$(find docking)/pcd/monkey.ply"/>-->
                <!-- <param name="dock_filepath" value="/home/rwbot/dock_ws/src/docking/pcd/dock_cloud_perfect.pcd"/> -->
				<!-- <param name="dock_filepath" value="/home/rwbot/dock_ws/src/docking/pcd/dock_crosssection.pcd"/> -->
				<!-- <param name="dock_filepath" value="/home/rwbot/dock_ws/src/docking/pcd/dock_cloud_docked.pcd"/> -->
				<!-- <param name="dock_filepath" value="/home/rwbot/dock_ws/src/docking/pcd/dock_cloud_docked_back_origin.pcd"/> -->

		<rosparam file="$(find docking)/config/detection_params.yaml" />

    </node>

		

		<!-- <arg name="rvizconfig" default="$(find docking)/config/rviz/docking.rviz" /> -->
		<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" /> -->

	<!-- Start up the dynamic reconfigure GUI. -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

</launch>
