<?xml version="1.0"?>
<launch>

	<node pkg="docking" type="planner_node" name="planner_node" output="screen" respawn="false" clear_params="true" >
		<!-- Arguments to allow changing common parameters from the command line or when including this file from other launch files. -->

		<!-- <rosparam file="$(find docking)/config/line_detection_params.yaml" /> -->

    </node>

	<!-- Start up the dynamic reconfigure GUI. -->
	<!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/> -->

	<!-- <arg name="rvizconfig" default="$(find docking)/config/rviz/new.rviz" /> -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" /> -->

	<!-- <include file="$(find logitech_f710)/launch/f710.launch"/> -->


</launch>
