<?xml version="1.0"?>
<launch>

    <arg name="rvizconfig" default="$(find docking)/config/rviz/new.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" launch-prefix="xterm -e gdb" /> -->


</launch>
